List((
    texture_width: 54,
    texture_height: 36,
    sprites: [
        (
            x: 1,
            y: 1,
            width: 16,
            height: 16,
        ),
        (
            x: 19,
            y: 1,
            width: 16,
            height: 16,
        ),
        (
            x: 19,
            y: 19,
            width: 16,
            height: 16,
        ),
        (
            x: 37,
            y: 1,
            width: 16,
            height: 16,
        ),
        (
            x: 37,
            y: 19,
            width: 16,
            height: 16,
        ),
    ],
))